@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-brand-black);
  --foreground: var(--color-brand-white-300);
  --card: var(--color-brand-black);
  --card-foreground: var(--color-brand-white-300);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-brand-primary-400);
  --primary-foreground: var(--color-brand-black);
  --secondary: var(--color-brand-white-700);
  --secondary-foreground: var(--color-brand-white-200);
  --muted: var(--color-brand-white-600);
  --muted-foreground: var(--color-brand-white-300);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: var(--color-brand-error-400);
  --border: var(--color-brand-white-600);
  --input: var(--color-brand-white-600);
  --ring: var(--color-brand-accent-400);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  /* colors */
  --color-brand-primary-50: #e6ffe4;
  --color-brand-primary-100: #c7ffc4;
  --color-brand-primary-200: #93ff90;
  --color-brand-primary-300: #52ff50;
  --color-brand-primary-400: #00ff00;
  --color-brand-primary-500: #00e604;
  --color-brand-primary-600: #00b806;
  --color-brand-primary-700: #008b07;
  --color-brand-primary-800: #076d0d;
  --color-brand-primary-900: #0b5c12;
  --color-brand-primary-950: #003406;

  --color-brand-accent-50: #eef6ff;
  --color-brand-accent-100: #daebff;
  --color-brand-accent-200: #bddbff;
  --color-brand-accent-300: #90c6ff;
  --color-brand-accent-400: #51a2ff;
  --color-brand-accent-500: #3584fc;
  --color-brand-accent-600: #1f64f1;
  --color-brand-accent-700: #174fde;
  --color-brand-accent-800: #1940b4;
  --color-brand-accent-900: #1a3a8e;
  --color-brand-accent-950: #152556;

  --color-brand-error-50: #fff1f2;
  --color-brand-error-100: #ffe0e1;
  --color-brand-error-200: #ffc6c9;
  --color-brand-error-300: #ff9fa4;
  --color-brand-error-400: #fb2c36;
  --color-brand-error-500: #e91923;
  --color-brand-error-600: #c4111a;
  --color-brand-error-700: #a21219;
  --color-brand-error-800: #86161b;
  --color-brand-error-900: #490609;

  --color-brand-warning-50: #fff7ed;
  --color-brand-warning-100: #ffedd4;
  --color-brand-warning-200: #ffd8a8;
  --color-brand-warning-300: #ffbb70;
  --color-brand-warning-400: #ff7c1c;
  --color-brand-warning-500: #f05906;
  --color-brand-warning-600: #c74107;
  --color-brand-warning-700: #9e340e;
  --color-brand-warning-800: #7f2d0f;
  --color-brand-warning-900: #451405;

  --color-brand-black: #0d0d0d;

  --color-brand-white-50: #fafafa;
  --color-brand-white-100: #f5f5f5;
  --color-brand-white-200: #e6e6e6;
  --color-brand-white-300: #d9d9d9;
  --color-brand-white-400: #a3a3a3;
  --color-brand-white-500: #727272;
  --color-brand-white-600: #535353;
  --color-brand-white-700: #404040;
  --color-brand-white-800: #272727;
  --color-brand-white-900: #1a1a1a;
  --color-brand-white-950: #0b0b0b;

  /* typography */
  /* font family */
  --font-main: 'JetBrains Mono', monospace;

  /* font sizes */
  --text-fs-900: 4.5rem;
  --text-fs-800: 3.75rem;
  --text-fs-700: 3rem;
  --text-fs-600: 2.25rem;
  --text-fs-500: 1.5rem;
  --text-fs-400: 1rem;
  --text-fs-300: 0.875rem;
  --text-fs-200: 0.5rem;

  /* screens */
  --breakpoint-lg: 1000px;
  --breakpoint-md: 760px;
  --breakpoint-sm: 560px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground font-main;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-balance leading-none;
  }
  p {
    @apply text-pretty;
  }
}
